<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<title>Studien-Datenbank Detail</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body class="detail-body flex-center">
		<div class="detail-container">
			<div class="card">
				<div class="card-header">
					<h4>Detailansicht</h4>
					<button
						type="button"
						class="btn btn-secondary"
						onclick="window.location.href='/index/{{ task }}'"
						aria-label="Schließen"
					>
						✕ Schließen
					</button>
				</div>
				<div class="card-body">
					<p>
						<strong>Studiendesign/Studienart:</strong> {{
						row.get('Studiendesign/Studienart', 'Keine Angabe') }}
					</p>
					<hr class="detail-separator">
					<p>
						<strong>Tumor Entität:</strong> {{ row.get('Tumor Entität', 'Keine
						Angabe') }}
					</p>
					<hr class="detail-separator">
					<p>
						<strong>Abstract:</strong> {{ row.get('Abstract', 'Keine Angabe') }}
					</p>
					<hr class="detail-separator">
					<p>
						<strong>Autoren:</strong> {{ row.get('Autoren', 'Keine Angabe') }}
					</p>

				</div>
			</div>
		</div>

		<!-- Footer with timer -->
		<div class="footer">
			<div id="timer" class="timer">00:00:00</div>
		</div>

		<script src="{{ url_for('static', filename='timer.js') }}"></script>
	</body>
</html>
