<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Studienanleitung</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body class="flex-center flex-column">
		<div class="card fixed-width-card">
			<div class="card-header">
				<h4 class="mb-0">Einleitung</h4>
			</div>
			<div class="card-body" style="font-size: 1.2rem">
				<p>
					Sie werden nun mit medizinischen Fragestellungen konfrontiert, für die
					Sie Studien aus der medizinischen Literatur recherchieren sollen.
				</p>
				<p class="info alert alert-info">
					<strong>Ziel:</strong> Finden Sie die Top 3 relevantesten Studien, die die
					Fragestellung am besten beantworten.
				</p>
				<p>Bitte befolgen Sie dabei folgende Schritte:</p>
				<ol>
					<li><b>Überprüfen Sie die Studien in der Tabelle.</b></li>
					<ul>
						<li>
							Die Zeilen der Tabelle zeigen: <b>Erstautor</b>,
							<b>Letztautor</b>, <b>Titel</b>, <b>Jahr</b>, <b>Zitationen</b>,
							<b>Oxford Evidenz Level</b>, <b>Journal</b> und
							<b>Impact Faktor (IF)</b>.
						</li>
                        
						<li>
							Klicken Sie auf eine Zeile, um weitere Informationen zu erhalten:
							<b>Studiendesign</b>, <b>Tumorentität</b>, <b>Abstract</b>,
							<b>Autorenliste</b>.
						</li>
					</ul>
					<li>
						<b>Wählen Sie Ihre Top 3 Studien.</b> Bewerten Sie dazu die Studien
						nach ihrer Relevanz für die Fragestellung (1. = relevanteste
						Studie).
					</li>
					<li>
						<b>Klicken Sie auf "Auswahl bestätigen"</b>, wenn Sie Ihre
						Bewertungen abgeschlossen haben.
					</li>
				</ol>
                <br /> 
				<div class="alert alert-warning">
					<strong>Zeitlimit:</strong> Sie haben <b>4 Minuten</b> Zeit für diese
					Aufgabe.
					<ul>
						<li>Der Countdown ist oben rechts sichtbar.</li>
						<li>Bei 30 Sekunden verbleibender Zeit ertönt ein Signalton.</li>
						<li>Sie können Ihre Auswahl innerhalb des Zeitlimits ändern.</li>
						<li>
							Sie können vor Ablauf der Zeit abgeben, indem Sie auf "Auswahl
							bestätigen" klicken.
						</li>
					</ul>
				</div>
				<div class="d-flex justify-content-end mt-4">
					<form action="{{ url_for('oxford_explanation') }}" method="get">
						<button type="submit" class="btn btn-primary">Weiter</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
