<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Study Application</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body class="start-page flex-center">
		<div class="card">
			<div class="card-body">
				<h1>Welcome to the Study</h1>
				<p>Please enter your User ID to begin the research study.</p>

				<form class="form" action="/study" method="POST" onsubmit="prepareStudyStart()">
					<input
						type="text"
						id="user_id"
						name="user_id"
						class="form-input"
						required
						placeholder="Enter your ID"
					/>
					<button type="submit" class="btn btn-primary">Start Study</button>
				</form>
			</div>
		</div>

		<script>
			function prepareStudyStart() {
				sessionStorage.setItem("startTimer", "true");
			}
		</script>
	</body>
</html>
