<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studie - Training und Aufgaben</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="start-page flex-center">
    <div class="card">
        <div class="card-body">
            <h4>Übungsaufgabe und Hauptstudie</h4>
            
            <div class="participant-id-container">
                <p>Als nächstes werden Sie eine <strong>Übungsaufgabe</strong> bearbeiten, um sich mit dem System vertraut zu machen.</p>
                <p>Danach folgen <strong>zwei Aufgaben</strong> für die Hauptstudie.</p>
                <p>Bitte nehmen Sie sich ausreichend Zeit, um die Aufgaben sorgfältig zu bearbeiten.</p>
            </div>
            
            <form class="form" action="{{ url_for('index_page', task=0) }}" method="get">
                <button type="submit" class="btn btn-primary">
                    Mit der Übungsaufgabe beginnen
                </button>
            </form>
        </div>
    </div>

    <script>
        function prepareStudyStart() {
            sessionStorage.setItem("startTimer", "true");
        }
    </script>
</body>
</html>
