<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study - Next Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="start-page flex-center">
    <div class="card">
        <div class="card-body">
            <h1>{{ message }}</h1>
            
            <div class="participant-id-container">
                <p>Thank you for completing the {% if next_task == 1 %}training task{% else %}first task{% endif %}.</p>
                <p>{{ description }}</p>
            </div>
            
            <form class="form" action="/study" method="POST" onsubmit="prepareStudyStart()">
                <input type="hidden" id="user_id" name="user_id" value="{{ participant_id }}">
                <input type="hidden" id="task" name="task" value="{{ next_task }}">
                <button type="submit" class="btn btn-primary">
                    {% if next_task == 1 %}
                        Start Main Study
                    {% else %}
                        Start Next Task
                    {% endif %}
                </button>
            </form>
        </div>
    </div>

    <script>
        function prepareStudyStart() {
            sessionStorage.setItem("startTimer", "true");
        }
    </script>
</body>
</html>