<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studie - Nächste Aufgabe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="start-page flex-center">
    <div class="card">
        <div class="card-body">
            <h4>{{ message }}</h4>
            
            <div class="participant-id-container">
                <p>Vielen Dank für das Abschließen der {% if next_task == 1 %}Übungsaufgabe{% else %}ersten Aufgabe{% endif %}.</p>
                <p>{{ description }}</p>
            </div>
            
            <form class="form" action="/study/{{ next_task }}" method="POST" onsubmit="prepareStudyStart()">
                <input type="hidden" id="user_id" name="user_id" value="{{ participant_id }}">
                <input type="hidden" id="task" name="task" value="{{ next_task }}">
                <button type="submit" class="btn btn-primary">
                    {% if next_task == 1 %}
                        Hauptstudie starten
                    {% else %}
                        Nächste Aufgabe starten
                    {% endif %}
                </button>
            </form>
        </div>
    </div>

    <script>
        function prepareStudyStart() {
            sessionStorage.setItem("startTimer", "true");
        }
    </script>
</body>
</html>